@model List<SanPham>

@{
    ViewData["Title"] = "GioHang";
    ShoppingDBConText shoppingDBConText = new ShoppingDBConText();
}
<table class="table">
    <thead>
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.SanPhamID) *@
            ID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Anh)*@
            Ảnh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Ten)*@
            Tên sản phẩm
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Gia)*@
            Giá
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SoLuongBanDau)*@
            Số lượng
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NhaCungCap)*@
            Nhà cung cấp
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.GhiChu)*@
            Ghi chú
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TrangThai)*@
            Trạng thái
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var soluong = 1;
        var gioHangChiTiets = shoppingDBConText.gioHangChiTiets.FirstOrDefault(ghct => ghct.SanPhamID == item.SanPhamID);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPhamID)
            </td>
            <td>
                @*@Html.DisplayFor(item => item.Anh)*@
                @if (System.IO.Path.GetExtension(item.Anh) == ".jpg" ||
                     System.IO.Path.GetExtension(item.Anh) == ".png" ||
                     System.IO.Path.GetExtension(item.Anh) == ".jpeg" ||
                     System.IO.Path.GetExtension(item.Anh) == ".tiff" ||
                     System.IO.Path.GetExtension(item.Anh) == ".giff")
                {
                    <img src="/images/@item.Anh" height="100" width="auto">
                }
                else
                {
                    <span>Ảnh lỗi ròi =))</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @gioHangChiTiets.SoLuong
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.TrangThai)*@
                @if (item.TrangThai == 0)
                {
                    <p>Hết hàng</p>
                }
                else
                {
                    <p>Còn hàng</p>
                }
            </td>
        </tr>
    }
    </tbody>
</table>